{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "all",
    "endOfLine": "auto",
    "bracketSpacing": true,
    "arrowParens": "always",
    "overrides": [
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        }
    ]
}
